body{
    background-color: rgb(35, 37, 37);
    padding: 0;
    margin: 0;

}
.block{
    width: 30%;
    height: 400px;
    position: relative;
    margin: 10% auto 0;
    background:linear-gradient(rgb(11, 11, 11),rgb(41, 41, 46));
}
.glow::before , .glow::after{
    content:'' ;
    position: absolute;
    left: -2px;
    top: -2px;
    background:linear-gradient(rgb(13, 240, 13),rgb(203, 21, 166),rgb(22, 114, 228),rgb(66, 231, 1));
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    background-size: 400px;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    } 
}
.glow::after{
    filter: blur(40px);
    opacity: 0.99;
}